.card{
  border: 4px solid hsl(0, 0%, 32%);
  border-radius: 20px;
  box-shadow: 5px 5px 5px hsl(27, 100%, 50%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 0%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 0%);
}